
	
	<div class="zerogrid">
		<div class="callbacks_container">
			<ul class="rslides" id="slider4">

				<% homeData.heroSlider.forEach((item) => { %>

				<li>
					<img src="<%= item.image  %>" alt="">
					<div class="caption">
						<h2><%= item.title %></h2></br>
						<p><%= item.desc %></p>
					</div>
				</li>

				<% }) %>

			</ul>
		</div>
	</div>
	
<!--////////////////////////////////////Container-->
<section id="container" class="index-page">
	<div class="wrap-container zerogrid">
		<!-----------------content-box-1-------------------->
		<section class="content-box box-1">
			<div class="zerogrid">
				<div class="row box-item"><!--Start Box-->
					<h2>“Your awesome company slogan goes here, we have the best food around”</h2>
					<span>Unc elementum lacus in gravida pellentesque urna dolor eleifend felis eleifend</span>
				</div>
			</div>
		</section>
		<!-----------------content-box-2-------------------->
		<section class="content-box box-2">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<h2>Welcome</h2>
						<hr class="line">
						<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quas.</span>
					</div>
					<div class="row">

						<% homeData.welcomeFood.forEach ((item) => { %>

						<div class="col-1-3">
							<div class="wrap-col">
								<div class="box-item">
									<span class="ribbon"><%= item.card %><b></b></span>
									<img src="<%= item.image %>" alt="">
									<p><%= item.desc %></p>
									<a href="<%= item.link %>" class="button button-1">Detail</a>
								</div>
							</div>
						</div>

						<% }) %>

					</div>
				</div>
			</div>
		</section>
	</div>
</section>
